{% extends 'base.html' %}

{% block content %}
<h2>Edit Row in {{ table }}</h2>

<form method="POST" enctype="multipart/form-data">
  {% for field in fields %}
    <div class="form-group">
      <label for="{{ field.name }}">{{ field.name }} ({{ field.type }}):</label>
      {% if field.type in ['INTEGER', 'BIGINT', 'FLOAT', 'DOUBLE', 'NUMERIC'] %}
        <input type="number" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ row[loop.index - 1]  }}">
      {% elif field.type in ['BOOLEAN'] %}
        <input type="checkbox" class="form-check-input" id="{{ field.name }}" name="{{ field.name }}" {% if row[loop.index - 1]  %}checked{% endif %}>
      {% elif field.type in ['DATE', 'DATETIME'] %}
        <input type="datetime-local" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ row[loop.index - 1] | datetimeformat('%Y-%m-%dT%H:%M:%S') }}">
      {% elif field.type in ['BLOB'] %}
        <input type="file" class="form-control-file" id="{{ field.name }}" name="{{ field.name }}">
        {% if row[field.name] %}
          <a href="{{ url_for('download_file', table=table, field=(loop.index-1), id=row['id']) }}">Download current file</a>
        {% endif %}
      {% else %}
        <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ row[loop.index - 1]  }}">
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
